*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-size: 62.5;
}
body{
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
	background-image:
	 linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
	url(image/Pic-04.jpg);

	}
h2{
	font-size: 3rem;
	color: rgb(1, 10, 16);
	font-weight: 900;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img{
	width: 50%;
	border: 3px solid black;

}
.slide-content .slider{
	display: inline-block;
	justify-content: center;
	text-align: center;
}
.slide-content .button-1{
	background-color: rgb(213, 213, 223);
	font-size: 3rem;
	position: relative;
	left: 25%;
	bottom: 16rem;
	border: none;
}
.slide-content .button-2{
	background-color: rgb(213, 213, 223);
	font-size: 3rem;
	position: relative;
	left: 70.8%;
	bottom: 16rem;
	border: none;
}
